* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root {
    /* FUNCTIONAL VALUES */
    --strength: 0.20;
    /* COLORS */
    --pac: #5a3e2b;
    --tred: #a93c3c;
    --tgreen: #7ea56e;
    --tblue: #7188dc;
    --WHITE: rgb(255, 255, 255);
    --BLACK: #000000;
    --TEXTCOLOR: #000000; 
    --BGPRIM: #cab4aa;
    --CANVASACC: #f7f6f6;
    --CANVASGRAIN: rgba(109, 61, 42, .6);
    --CLRBTNPRIM: #b53939;
    --CLRBTNSEC: #6c0606;
    --BTNPRIM: #6d493f;
    --BTNSEC: #432e1d;
    --SLIDEBGC: #d7d0ce;
    --STRSLIDEC: black;
    --CHRSLIDEC: #e35959;
    --GRADIENTPRIM: #eeebeb;
    --GRADIENTSEC: #c9c5c3;
    --DAYICONCOLOR: rgb(121, 177, 222);
    --DAYICONSHADOW: rgb(255, 255, 255);
    /* PROPERTIES */
    --PBORDER: 4px solid var(--pac);
    --CONTAINERFILTER: brightness(100%) saturate(100%);
}

@keyframes rainbowAlternate {
    0% { background-color: rgba(255, 0, 0, var(--strength)); }
    16% { background-color: rgba(255, 165, 0, var(--strength)); }
    33% { background-color: rgba(255, 255, 0, var(--strength)); }
    50% { background-color: rgba(0, 128, 0, var(--strength)); }
    66% { background-color: rgba(0, 0, 255, var(--strength)); }
    83% { background-color: rgba(75, 0, 130, var(--strength)); }
    100% { background-color: rgba(255, 0, 0, var(--strength)); }
}

html {
    color:var(--TEXTCOLOR);
    transition: all .8s ease-in-out;
}

body {
    background-color: var(--BGPRIM);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul {
    list-style: none;
}

li {
    margin-bottom:8px;
}

input {
    vertical-align: middle;
    margin-right:8px;
}


input[type="color"] {
    appearance: none;
    background-color: transparent;
    position: relative;
    border:none;
    min-width:100%;
    min-height:101%;
    left:4px;
    border-radius:inherit;
    opacity:0;
}

input[type="file"] {
    display:none;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--SLIDEBGC);
    border-radius: 10px;
}

input[type="range"]::-webkit-progress-value {
background-color: var(--CHRSLIDEC);
}

input[type="range"]::-moz-range-thumb {
    border: none;
}

input[type="range"]::-moz-range-track {
    border-radius: 10px;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--STRSLIDEC);
}


input[type="range"]#red::-moz-range-progress {
    background-color: var(--tred);
}

input[type="range"]#green::-moz-range-progress {
    background-color: var(--tgreen);
}

input[type="range"]#blue::-moz-range-progress {
    background-color: var(--tblue);
}

svg {
    height: 0;
    width: 0;
}

svg#notch {
    position:absolute;
    top:0;
    left: 5;
    min-width:800px;
    width: 100%;
    height: 45px;
    z-index: -1;
}

svg#daynight {
    min-width: 0;
    height: 38px;
    width: 38px;
}

svg#daynight > * {
    transition: transform .8s ease-in-out,
    opacity .4s linear;
}

#rays {
    transition: transform .8s ease-in-out;
    opacity:1;
    transform-origin: 50px 50px;
    transform: rotate(0deg) scale(100%);
}

svg#daynight:hover #rays {
    transform: rotate(180deg) scale(110%);
    
}

#sun {
    opacity:1;
    transform-origin: 50px 50px;
    transition: all 1.5s linear;
    transform:scale(100%);
}

svg#daynight:hover #sun {
    transform:scale(115%);
}

#moon, #moon-shadow {
    opacity:0;
    transform-origin: 50px 50px;
    transform:scale(150%);
}

#moon.dark-theme, #moon-shadow.dark-theme {
    opacity:1;
    transform-origin: 50px 50px;
}

svg#daynight #moon-mask {
    transition: all .2s linear;
    transform:translate(0, 0);
    opacity:1;
}

svg#daynight:hover #moon-mask {
    transform:skewX(-5deg);
}

.strong {
    margin-bottom:1.5rem;
    font-size:1.5rem;
    font-weight:bold;
}

.wrapper {
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    width:fit-content;
    gap:16px;
    margin: 0 auto;
}

.container {
    min-width: 500px;
    min-height: 500px;
    aspect-ratio: 1/1;
    padding: 4px;
    background: url("../images/wood-grain.jpg") ;
    background-color: var(--pac);
    border: var(--PBORDER);
    border-radius: 10px 10px 10px 10px;
    display:flex;
    flex-wrap:wrap;
    user-select:none;
    position:relative;
    touch-action: none;
    filter: var(--CONTAINERFILTER);
}

.container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    background-color: var(--CANVASGRAIN);
    z-index:1;

}

.top-option-container {
    display: flex;
    min-width:800px;
    min-height: 45px;
    justify-content: center;
    align-items:center;
    margin: 0 auto 5px;
    padding: 4px;
    gap:16px;
}

.icon-container {
    position: relative;
        left:50px; 
    background-color: var(--DAYICONCOLOR);
    box-shadow: inset 0 0 3px var(--DAYICONSHADOW);
        border-radius: 50%;
        border-style: none;
}

#clear-button {
    background-color: var(--CLRBTNPRIM);
    border: 2px solid var(--CLRBTNSEC);
}

#tool-display {
    color:var(--WHITE);
    min-width:5em;
}

.canvas-setting-wrapper {
    text-align:center;
    display: block;
}

#download-button {
    margin-top:15px;
}

.side-option {
    width: max-content;
    background:linear-gradient(135deg, var(--GRADIENTPRIM), var(--GRADIENTSEC));
    z-index: 0;
}

.content-container {
    border: var(--PBORDER);
    border-radius: 10px;
        padding: 8px;
}

.side-option >*, .pencil-detail-wrapper >* {
    margin-bottom:16px;
}

.rgb-visual {
    position:relative;
    min-width:20px;
    min-height:20px;
    border: var(--PBORDER);
    border-radius:5rem;
    background-color: var(--BLACK);
    display:flex;
    justify-content:center;
    align-items:center;
}


.rgb-visual::after {
    content:'';
    position:absolute;
    border-radius:5rem;
    background-color: inherit;
    filter:blur(4px);
    color:var(--BLACK);
    width:103%;
    height:130%;
    z-index:-1;
}

.rgb-visual-animated {
    animation:rainbowAlternate 6s linear infinite;
}

button, .upload-btn, label {
    background-color: var(--BTNPRIM);
    color: #f7f6f6;
    font-size: 1em;
    min-width: 100px;
    min-height:37px;
    padding: 4px;
    border: 4px solid var(--BTNSEC);
        border-radius: 15px;
    user-select:none;
}

button:hover, .icon-container:active {
    filter: brightness(95%);
}

button:active, .upload-btn:active {
    filter:saturate(1.5)
}

.square {
    transition:background-color .06s linear;
    border:none;
    background-color:var(--WHITE);
    opacity:1;
    flex-grow:1;
    flex-basis:25%;
    min-height:25%;
    z-index:1;
}

/* Mobile media query. Not pretty given previous setup but mobile support was needed. */
@media(max-width: 600px) {

    button, .upload-btn, label {
        font-size: .7em;
        min-width: 70px;
        min-height:30px;
        padding: 2px;
        border: 2px solid var(--BTNSEC);
            border-radius: 10px;
    }

    input[type="color"] {
        min-width:90%;
        min-height:91%;
    }

    input[type="range"] {
        width: 80%;
        margin-right: auto;
        text-align: left;
        touch-action:none;

    }

    li {
        display: flex;
        max-height: min-content;
        text-align: right;
        margin-bottom: 4px;
    }

    ul {
        text-align: center;
    }

    li:nth-child(n+5) {
        display: inline;
        margin-right: 32px;
    }
    
    svg#notch {
        min-width:400px;
    }

    svg#daynight {
        width:30px;
        height:30px;
    }

    #tool-display {
        font-size: .8em;
    }

    .top-option-container > svg {
        min-width:400px;
    }

    .top-option-container > :not(svg#notch) {
        margin-top: 4px;
    }

    .wrapper {
        flex-direction:column-reverse;
        gap: 4px;
    }

    .container {
        min-width: 0;
        min-height: calc(100vw - 17px);
        min-width: calc(100vw - 17px);
        aspect-ratio: 1/1;
    }

    .container::after {
        display: none;
    }
    
    .top-option-container {
        padding-top:0;
        max-height:10px;
        min-width: 400px;
        margin-bottom: 8px;
        gap: 4px;
    }

    .content-container {
        width: 100%;
        border: var(--PBORDER);
    }

    .side-option-container >*, .pencil-detail-wrapper >* {
        margin-bottom:4px;
    }

    .strong {
        margin-bottom:.4rem;
        font-size:1.2rem;
    }

    .rgb-visual {
        margin-top: 16px;
    }
    
    #download-button {
        margin-top:0px;
    }

    .icon-container {
        margin-left:min(20px, 0);
        left:0;
    }
}

.dark-theme {
    --pac: #5f4774;
    --tred: #d85f5f;
    --tgreen: #8fb98f;
    --tblue: #7a90e0;
    --WHITE: #f4f4f4;
    --BLACK: #0a0a0a;
    --TEXTCOLOR: #f4f4f4;
    --DAYICONCOLOR: #2d3253;


    --BGPRIM: #1f1b2e;
    --CANVASACC: #f7f6f6;
    --CANVASGRAIN: rgba(255, 180, 120, 0.05);

    --CLRBTNPRIM: #7d2929;
    --BTNPRIM: #4b3958;
    --BTNSEC: #826898;

    --SLIDEBGC: #3e3a4f;
    --STRSLIDEC: #eee;
    --CHRSLIDEC: #ff8c8c;

    --GRADIENTPRIM: #2d233a;
    --GRADIENTSEC: #3e3752;
    --CONTAINERFILTER: brightness(70%) saturate(90%);
}

.dark-theme#sun, .dark-theme#rays {
    opacity: 0;
}